$turnover-bg-color: #2b7c92;
$turnover-color: #d4e8ed;
$served-bg-color: #fddb87;
$vacant-bg-color: #cedf9f;
$disposed-bg-color: #f05a7e;
$for-disposal-bg-color: rgb(255, 102, 0);
$loading-box: rgb(221, 217, 217);

@mixin badge-style($bg-color, $text-color) {
  background: $bg-color;
  padding: 2px 7px;
  font-size: 11px;
  border-radius: 5px;
  color: $text-color;
  font-weight: bold;
}

@mixin loading-box-color($width1, $height1) {
  width: $width1;
  height: $height1;
  background-color: $loading-box;
}

.m-right {
  margin: 0 3px 4px 0 !important;
}

.package-status {
  background: yellowgreen;
  color: white;
  border: 1px solid darkgreen;
}

.package-box-border {
  border: 1px solid #dde4ed;
}

.fac-separator {
  border-bottom: 3px solid white;
  margin-bottom: 25px;
}

.item-fonts {
  font-size: 14px !important;
}

.borrower-body {
  background: #f4f9ff;
}

.turnover-bg-color {
  @include badge-style($turnover-bg-color, $turnover-color);
}

.served-bg-color {
  @include badge-style($served-bg-color, black);
}

.vacant-bg-color {
  @include badge-style($vacant-bg-color, white);
}

.disposed-bg-color {
  @include badge-style($disposed-bg-color, white);
}

.for-disposal-bg-color {
  @include badge-style($for-disposal-bg-color, white);
}

.ts-color {
  color: rgb(83, 112, 23);
  font-weight: normal;
  font-style: italic;
  font-size: 11px;
  padding: 3px 5px;
  border-radius: 5px;
}

.turnover-circle-color {
  color: $turnover-bg-color !important;
  // background: $turnover-bg-color !important;
}
.served-circle-color {
  color: $served-bg-color !important;
}
.vacant-circle-color {
  color: $vacant-bg-color !important;
}

.disposed-circle-color {
  color: $disposed-bg-color !important;
}

.for-disposal-circle-color {
  color: $for-disposal-bg-color !important;
}

.borrower-text {
  color: $turnover-bg-color !important;
  font-weight: 500;
  width: 100%;
}

.status {
  width: 100%;
  display: flex;
  align-items: center;
}

._load {
  ._load_card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 10px;

    div:nth-child(1) {
      @include loading-box-color(10%, 10px);
    }
    div:nth-child(2) {
      @include loading-box-color(90%, 10px);
    }
  }
}

.f-title {
  display: flex;
  gap: 5px;
}
