

.myHeader {
  font-size: 14px;
}

.ul_a {
  list-style-type: none;
}

.li_a {
  padding: 3px !important;
}

.fa-font-color {
  color: #012970 !important;
}

.right-column-card {
  margin-bottom: 10px !important;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #382c2c;
  border-radius: 5px;
}

.myHover:hover .overlay2 {
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 20%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.cardwrapper {
  position: relative;
  margin-top: 20px;
}

.logo {
  text-decoration: none;
  /* position: absolute; */
  /* top: -55px;
  left: -5px;
  z-index: 999; */
}
